# The host machine that the PPM is running on.
DOCKER_HOST_IP=

# An external directory that contains the necessary edges and properties files.
DOCKER_SHARED_VOLUME=

# The config file to use.
# This only needs to be set when using `docker-compose.yml`.
# The `docker-compose-standalone.yml` & `docker-compose-confluent-cloud.yml` files directly set values for this.
PPM_CONFIG_FILE=

# An directory that contains the fieldsToRedact.txt file needed by the RedactionPropertiesManager class.
REDACTION_PROPERTIES_PATH=

# Logging related flags for file/console logging & log level
PPM_LOG_TO_FILE=false
PPM_LOG_TO_CONSOLE=true
PPM_LOG_LEVEL=INFO

# When set to true, the RPM will print debug messages to a file. (this is separate from regular logging)
RPM_DEBUG=

# This should be "CONFLUENT" when utilizing CC and empty otherwise.
KAFKA_TYPE=

# Key and secret for CC.
CONFLUENT_KEY=
CONFLUENT_SECRET=