name: Docker build

on:
  push:
    branches-ignore:
      - "develop"
      - "master"
      - "release/*"
jobs:
  jpo-security-svcs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - run: ls -la && pwd 
      - name: Build
        uses: docker/build-push-action@v3
